# This is Git's per-user configuration file.
[user]
	email = blair@vandair.net
	name = BlairV
# Please adapt and uncomment the following lines:
#	name = Blair Vanderlugt
#	email = blairvanderlugt@Blairs-MBP.attlocal.net
[pull]
	rebase = false
[init]
	defaultBranch = main
[pager]
  diff =
[alias]
    slog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)[%an]%Creset' --abbrev-commit
[core]
	autocrlf = input
